.searchBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;

}

.input {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid black;
    padding: 0.1em 1.2em;
    border-radius: 5px;
    /* box-shadow: 0 13px 17px -16px rgb(0 0 0 / 40%); */
}

.input input {
    outline: none;
    border: none;
    width: 65vw;
    font-size: 1.2em;
    font-family: 'QuickSand';
    padding: 0.6rem 0;
    background: transparent;
}