.project {
  margin-right: 1rem;
  max-width: 21rem;
  height: auto;
  position: relative;
  margin-top: 2rem;
  align-items: flex-start;
  box-shadow: 0 3px 5px -5px rgba(50, 50, 50, 0.75);
  background-color: #fff;
  transition: transform 0.3s;
}

.cardimg {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}

.title-flexbox {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 90%;
  min-height: 50px;
  margin: 0;
}

.share-img {
  width: 25px;
  height: 25px;
}

.project:hover {
  transform: scale(1.015);
  -webkit-box-shadow: 0 3px 5px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 3px 5px -3px rgba(50, 50, 50, 0.75);
  box-shadow: 0 3px 5px -3px rgba(50, 50, 50, 0.75);
}

.descr {
  margin: 0;
  width: 100%;
  margin: 0.5rem 0;
  position: relative;
}

.description {
  margin: 0;
  max-height: 65px;
}

.read-more {
  text-align: right;
  margin: 0;
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 14px;
  font-weight: 700;
}

.read-more:hover {
  text-decoration: underline;
}

.level {
  display: flex;
  margin: 0;
}

.level label {
  font-weight: bold;
}

.like-box {
  margin: 10px 0;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.skill {
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
  transition: all 0.1s;
  cursor: pointer;
}

.far-fa-heart {
  cursor: pointer;
}

.rating_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
