.project {
  width: clamp(20rem, 20rem, 30rem);
  min-height: 18rem;
  padding: 2em;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.title-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-img {
  width: 25px;
  height: 25px;
}


.project:hover {
  background-color: rgba(221, 220, 220, 0.1);
}

.description {
  margin-top: 0.5rem;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.skill {
  background-color: #d90316;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  margin-left: 0.5em;
  transition: all 0.1s;
  cursor: pointer;
  margin-top: 0.5em;
}

.level {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.level label {
  font-weight: bold;
}
