.conatiner {
  position: relative;
  width: 75%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 1rem;
  text-align: center;
}
.star-logo {
  position: absolute;
  top: -24px;
  left: 12px;
  width: 55px;
  height: 55px;
}
.flex-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.best_project--title {
    margin-top: 0.5rem;
    display: inline-block;
}
