.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  min-height:65vh;
}

.passwordform {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  color: rgb(60, 60, 60);
  width: 50%;
  max-width: 50vw;
  max-height: 98vh;
  margin-top: 50px;
}

.passwordform h1 {
  font-weight: bold;
  color: #5352ed;
}

.passwordform {
  width: fit-content;
}


.btn {
  border: 2px solid #5352ed;
  background-color: #5352ed;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  padding: 10px 16px;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

