.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.passwordform {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  color: rgb(60, 60, 60);
  width: 50%;
  max-width: 50vw;
  max-height: 98vh;
  margin-top: 50px;
}

.passwordform h1 {
  font-weight: bold;
  color: #5352ed;
}

.passwordform {
  width: fit-content;
}

.forminput {
  width: fit-content;
  position: relative;
  outline: none;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forminput label {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 0.7rem;
}

.forminput input {
  padding: 22px 10px 10px 20px;
  width: 30vw;
  outline: none;
  border: none;
  color: #5352ed;
}

.forminput input::placeholder {
  color: #ccc;
}

.forminput input:focus {
  border-left: 5px solid #5352ed;
  padding-left: 15px;
}

.btn {
  border: 2px solid #5352ed;
  background-color: #5352ed;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  padding: 10px 16px;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

.btns {
  margin-top: 30px;
}
