.addproject_wrapper {
  min-height: 100vh;
  width: 100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaf2fd;
}

.quotesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaf2fd;
  width: 35%;
  min-height: 100vh;
}

.quotebox {
  position: relative;
  padding: 3%;
  width: 60%;
  border-radius: 20px;
  border: 2px solid #5352ed;
}

.fa-quote-left {
  font-size: 30px;
  color: #5352ed;
}

.quotebox h4 {
  margin: 10px 0;
}

.quotebox .dash {
  color: #5352ed;
  font-weight: bold;
  margin: 0 5px;
}

.addprojectimg {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 33%;
}

.addprojectform {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  padding: 5%;
  font-size: 16px;
  line-height: 25px;
  color: rgb(60, 60, 60);
  background-color:#fff;
  width: 65%;
  height: 100vh;
  overflow:auto;
}


.forminput {
  width: 100%;
}

.forminput input {
  width: 100%;
}
.addprojectform h1 {
  color: #5253ed;
}

.skillsinput {
  width: 100%;
  position: relative;
  outline: none;
  border: 1px solid #ccc;
}

.skillsinput input {
  border: none;
  outline: none;
}

.skillsinput label {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 0.7rem;
}

.desclabel{
  font-size:14px;
}

.desclabel span{
  color:red;
}

.desctoolbar{
  border: 1px solid #ccc;
  width: 100%;
}

.desceditor{
  border: 1px solid #ccc;
  padding:0 2%;
  margin-bottom:20px;
  font-size:14px;
  width: 100%;
}

.submitbtn {
  border: 2px solid #5352ed;
  background-color: #5352ed;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  padding: 10px 20px;
  width: fit-content;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

.fa-upload {
  margin-left: 10px;
}

.badgescreen{
    padding:0 30%;
}

@media screen and (max-width: 960px){

    .addproject_wrapper{
        flex-direction:column;
    }
    .quotesection{
        width:100%;
        min-height:0;
        height:40%;
        padding:80px 0;
    }
    .quotebox{
        width:70%;
        padding:2%;
    }
    .addprojectimg{
        width:65%;
        top:60%;
        left:50%;
    }
    .addprojectform{
        width:100%;
        padding:5% 19% ;
        align-items:center;
        justify-content: center;
        margin-left:auto;
    }
    .addprojectform h1{
        font-size:25px;
    }
    .forminput input{
        min-width:60vw;
        width:100%;
    }
    .desctoolbar{
      width:60vw;
    }
    
    .desceditor{
      margin-bottom:20px;
      font-size:14px;
      width:60vw;
    }
    
}

