.share-conatiner{
    right: -2%;
    z-index: 1000;
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    background-color: #FFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

