.mt {
    margin-top: 2rem;
}

.query {
    padding: 1em 6.3em;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    margin: 0.5rem;
    text-transform: capitalize;
    background-color: #ccc;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.projectsList {
    padding: 2vw 4vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}