.home {
    width: 100%;
    min-height: 90vh;
    background-color: #fafaf6;
    padding: 2vw 6vh;
}

.projects {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}