.home {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background: #6c6be8;
  background-position: center;
  margin-top: 20px;
}

.landing .home_content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.landing .home_content h3 {
  font-size: 2.5rem;
  margin: 0;
  color: #fff;
}

.landing .home_content h1 {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.landing .home_content p {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 1.5rem;
}

.home_content a {
  display: block;
  text-decoration: none;
  background-color: #6c6be8;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 9.5rem;
  padding: 0.5rem 1.8rem;
  transition: 0.2s all;
  font-weight: bold;
}

.home_content a:hover {
  color: #6c6be8;
  background-color: #fff;
}

.landing .image {
  margin: 10rem 5rem;
  width: 35vw;
  height: 35vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  background-color: #ff6348;
}

.landing .image img {
  width: 100%;
  margin-left: -30px;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.home_projects {
  background-color: #f3f7ff;
  padding: 1% 2%;
  margin-top: 6%;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.best_project--title {
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.best_project {
  padding: 1% 0;
}

.trending_projects {
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .landing {
    flex-flow: column;
  }
  .landing .image {
    margin: 4rem;
    width: 70vw;
    height: 70vw;
  }
  .landing img {
    margin-left: -20px;
  }
  .landing .home_content {
    margin-top: 4rem;
  }
  .landing .home_content h3,
  .landing .home_content h1 {
    font-size: 1.8rem;
  }
  .landing .home_content p {
    font-size: 1.2rem;
  }
  .best_project--title {
    width: 100%;
    text-align: center;
  }
  .home_projects {
    padding-left: 5%;
  }
  .projects {
    justify-content: space-around;
  }
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(231, 248, 47, 1) 0%,
    rgba(39, 246, 190, 1) 50%,
    rgba(7, 0, 211, 1) 100%
  );
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh #edeff0;
  border-radius: 20px;
}
