.home {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.landing{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size:cover;
    background:#6c6be8;
    background-position: center;
    margin-top:20px;
    margin-bottom:2%;
}


.landing .content{
    display:flex;
    flex-direction:column;
    margin-left:10%;
}

.landing .content h3{
    font-size: 2.5rem;
    margin:0;
    color:#fff;
}

.landing .content h1{
   font-size:2.5rem;
   color:#fff;
   margin:0;
   font-weight: bold;
}

.landing .content p{
    font-size: 1.5rem;
    color:#fff;
    padding-top:1.5rem;
}

.content a {
    display: block;
    text-decoration: none;
    background-color: #6c6be8;
    color: #FFF;
    border:1px solid #FFF;
    border-radius:5px;
    width: 9.5rem;
    padding: 0.5rem 1.8rem;
    transition: 0.2s all;
    font-weight: bold;
}

.content a:hover {
    color: #6c6be8;
    background-color: #FFF;
}

.landing .image{
    margin:10rem 5rem;
    width:35vw;
    height:35vw;
    max-width:400px;
    max-height:400px;
    border-radius:50%;
    background-color:#FF6348;
}

.landing .image img{
    width:100%;
    margin-left:-30px;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3rem);
    }
}


.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 3%;
    margin-bottom: 2rem;
}

.best_project--title {
    padding:0 3%;
    font-size: 27px;
    display: flex;
    align-items: center;
}

.best_project{
    margin-top: 6%;
    margin-left: 0.5rem;
}

.trending_projects{
    width: 100%;
    padding:0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:992px){

    .landing{
        flex-flow: column;
    }

    .landing .image{
        margin:4rem;
        width:70vw;
        height:70vw;   
    }

    .landing img{
        margin-left:-20px;
    }

    .landing .content{
        margin-top: 4rem;
    }

    .landing .content h3,.landing .content h1{
        font-size: 1.8rem;
    }

    .landing .content p{
        font-size: 1.2rem;
    }

}