.home {
    width: 100%;
    min-height: 90vh;
    padding: 2vw 4vh;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.best_project{
    margin-left: 0.5rem;
}