.home {
    width: 100%;
    padding: 2vw 4vh;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.best_project--title {
    font-size: 27px;
    display: flex;
    align-items: center;
}

.best_project{
    margin-top: 6%;
    margin-left: 0.5rem;
}

.trending_projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}