.conatiner_{
    width: 100%;
    /* height: 60vh; */
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel-header {
    background-color: #3f51b5;
    color: white;
    padding: 1%;
    width: 100%;
  }
  
  .counter {
    background-color: #e8eaf6;
    color: #3f51b5;
    font-size: 0.8em;
    border-radius: 50%;
    padding: 0.1% 0.8%;
    margin-left: 10px;
    vertical-align: text-top;
  }
  
  .panel-collapse {
    background-color: #ffffff;
    box-shadow: 0px 3px 5px -3px black;
    padding: 3% 4%;
  }
  
  .comment {
    border-left: 4px solid #3f51b5; 
    padding: 0 1% 1% 3%;
    margin-bottom: 5%;
  }
  
  .comment-header {
    margin-bottom: 1%;
  }
  
  .panel-collapse .icon {
    width: 3%;
    margin-right: 0.5%;
  }
  
  .panel-collapse small {
    color: #777;
    margin-left: 2%;
  }
  
  .formtitle {
    font-size: 1.5em;
    float: left;
  }
  
  #author, form textarea {
      clear:both;
      display:block;
    width:100%;
    padding: 1%;
    margin: 1% 0 1% 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #777;
    resize:none;
  }
  
  #author:focus, textarea:focus {
    border-bottom: 1px solid #3f51b5;
  }
  
  form {
    text-align:center;
  }
  
  .commentButton{
    border: 0px solid;
    background-color: #3f51b5;
    color: white;
    padding: 1%;
    box-shadow: 0 2px 5px black;
    width: 15%;
  }
  