@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.section{
    position: relative;
}
.container{
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}
.parent_div{
    background-color:rgb(248, 246, 246);
    height: 530px;
    width: 700px;
    border-radius: 30px;
    border: silver;
    outline: none;
    box-shadow: 15px 15px 15px hsl(0, 1%, 28%);
}
.child_div{
    background-color:#ff3333;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    margin-top: -30px;
    margin-left: 50%;
    transform: translate(-50%);
    box-shadow: 14px 14px 14px rgb(131, 127, 127);
    cursor: pointer;             
}
.h1tag{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.form{
    margin-top: 20px;
    padding: 60px;
}
.labels{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
}
.form-control{
    border: none;
    outline: none;
}
.btn{
    float: right;
    width: 140px;
    padding: 10px;
    background-color: #ff3333;
}
.btn span{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

/* Responsive Contact-Us*/
@media (max-width:520px){
    .parent_div{
        height: 530px;
        width: 500px;
    }
    .child_div{
        width: 300px;
        height: 60px;
    }
}
@media (max-width:320px){
    .h1tag{
        font-size: 25px;
    }
    .form-control{
        width: 350px;
    }
    .child_div{
        padding: 15px;
        width: 200px;
        height: 60px;
    }
    .btn{
        margin-right: 15px;
    }
}