@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.section {
    background-color: #9796F0;
    background-image: url("Illustration.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 700px;
    height: 100%;
    left: 0px;
    top: 0px;
}

.labels {
    font-size: 30px;
    top: 40px;
    position: absolute;
    left: 750px;
    width: 100px;
    white-space: nowrap;
    color: #9796F0;
}

.box {
    position: absolute;
    width: 500px;
    height: 40px;
    padding-left: 15px;
    left: 770px;
    top: 90px;
    background: #9796F0;
    border-color: inherit;
    border-radius: 15px;
}

.labels1 {
    font-size: 30px;
    top: 165px;
    position: absolute;
    left: 750px;
    width: 100px;
    white-space: nowrap;
    color: #9796F0;
}

.box1 {
    position: absolute;
    width: 500px;
    height: 40px;
    padding-left: 15px;
    left: 770px;
    top: 220px;
    background: #9796F0;
    border-color: inherit;
    border-radius: 15px;
}

.labels2 {
    font-size: 30px;
    top: 285px;
    position: absolute;
    left: 750px;
    width: 100px;
    white-space: nowrap;
    color: #9796F0;
}

.box2 {
    position: absolute;
    width: 500px;
    padding-left: 15px;
    padding-top: 10px;
    height: 150px;
    left: 770px;
    top: 335px;
    background: #9796F0;
    border-color: #9796F0;
    border-radius: 15px;
}

input[type=text], select, textarea {
    margin-top: 6px;
    margin-bottom: 16px;
    border-color: inherit;
    border-radius: 15px;
    resize: vertical;
}

button[type=submit] {
    background-color: #9796F0;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #47e2e7;
}

.btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #F3F7FF;
    position: absolute;
    width: 201px;
    height: 77px;
    left: 910px;
    top: 550px;
    border-radius: 20px;
    border-color: inherit;
}