footer {
    padding: 2em 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white !important;
    background-color: #6f6ee1 !important;
}

footer a {
    color: rgb(209, 209, 209)
}

.footerSection_ {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.footerSection_title_ {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-top: 25px;
}

.footerSection_ p {
    color: white;
}

.footerRight {
    margin-right: 5rem;
}

.footerRight ul {
    list-style-type: none;
}

.footerRight ul li a {
    color: #FFF;
}

.footerRight ul li :hover {
    text-decoration: underline;
    color: #ccc;
}

.footerRight ul li {
    background-color: #6f6ee1;
    padding-top: 10px;
    font-size: 0.8rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-left: -1rem;
}

.footer-top {
    display: flex;
    align-items: center;
}