footer{
  padding: 2em 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white !important;
  background-color: #3a3aad;
}


footer a{
  color: rgb(209, 209, 209)
}

.footerSection_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerSection_title_ {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  padding-top: 25px;
}

.footerSection_ p {
  color: white;
}

.footerRight {
  margin-right: 5rem;
}

.footerRight ul {
  list-style-type: none;
}

.footerRight ul li a {
  color: #FFF;
}

.footerRight ul li {
  background-color: #3a3aad;
  padding-top:10px;
  font-size: 0.95rem;
}

.logo {
  width: 90px;
  object-fit: contain;
  margin-left: -20px;
}

.footer-top {
  display: flex;
}