.card {
  width: 60%;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
}

.title_ {
  text-decoration: underline;
  font-weight: 800;
}

.desc_ {
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: 400;
}

.level_ {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.card-footer_ {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.skills {
  background-color: initial;
}

.rating_div {
  margin-top: 2rem;
}
