.forget {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
  min-height:100vh;
}

.forgetform {
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:center;
  margin:0 auto;
  font-size:16px;
  line-height:25px;
  color:rgb(60, 60, 60);
  width:50%;
  max-width:50vw;
  max-height:100vh;
  margin-top:50px;
}

.forgetform h1 {
  font-weight: bold;
  color: #5352ed;
}

.forgetform {
  width: fit-content;
}

.forgetbtn {
  border: 2px solid #5352ed;
  background-color: #5352ed;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  padding: 10px 16px;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

.forgetimage {
  max-width:50vw;
  background-color:#EAF2FD;
  padding:7%;
  max-height:100vh;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.forgetimage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: pulse 3s linear infinite;
}

@media screen and (max-width: 960px) {
  .forget{
    margin-top:30px;
    min-height:0;
    max-height:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  } 

  .forgetform h1{
     font-size:20px;
  }
  .forgetform,.forgetimage{
    font-size:14px;
    max-height:none;
    min-height:40vh;
    max-width:100vw;
    width:100%;
    align-items:center;
    justify-content:center;
  }
 
  .forgetimage image{
   width:100%;
   height:auto;
  }
 
  .forgetbtn{
   padding:6px 12px;
  }
 
  
}
