.login{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height:100vh;
  font-family: 'Poppins', sans-serif;
}


.loginform{
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:center;
  margin:0 auto;
  font-size:16px;
  line-height:25px;
  color:rgb(60, 60, 60);
  width:50%;
  max-width:50vw;
  max-height:98vh;

}

.loginform h1{
  font-weight:bold;
  color:#5352ED;
}

.loginform{
  width: fit-content;
}

.forminput{
  width:fit-content;
  position:relative;
  outline:none;
  border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
}

.forminput label{
  position: absolute;
  left:20px;
  top:0;
  font-size: 0.7rem;
}

.forminput input{
  padding:22px 10px 10px 20px;
  width:30vw;
  outline:none;
  border:none;
  color:#5352ED;
}

.forminput input::placeholder {
  color: #CCC;
}

.forminput input:focus{
 border-left:5px solid #5352ED;
 padding-left:15px;
}

.remember_forgotpass{
  display:flex;
  width:30vw;
  justify-content:space-between;
}

.fa-eye{
  position:absolute;
  top:25px;
  right:25px;
  cursor:pointer;
  font-size:20px;
}

.forgotpass{
  color:rgb(60, 60, 60);
  cursor:pointer;
}

.forgotpass:hover{
  color:#5352ED;
}

.btns{
  margin-top:30px;
}

.loginbtn{
border:2px solid #5352ED;
background-color:#5352ED;
cursor:pointer;
color:#fff;
margin-right:20px;
padding:10px 16px;
box-shadow:-1px 3px 3px rgba(0,0,0,0.4)
}

.signupbtn{
padding:10px 16px;
border:2px solid #5352ED;
background-color:#fff;
cursor:pointer;
}

.signuplink,.signuplink:hover{
color:#5352ED;
}

.social_signin{
  display:flex;
  margin-top:30px;
}

.blue{
  color:#5352ED;
  cursor:pointer;
}

.google{
  margin-left:10px;
  font-weight:bold;
}

.loginimage{
  width:50%;
  max-width:50vw;
  background-color:#EAF2FD;
  padding:7%;
  max-height:98vh;
  align-items:center;
}

.loginimage img{
  height:100%;
  width:100%;
}

@media screen and (max-width:960px){
 .login{
  margin-top:30px;
  max-height:none;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-bottom: 130px;
 } 
 .loginform h1{
    font-size:20px;
    margin-top: 50%;
 }
 .loginform,.loginimage{
     font-size:14px;
     max-height:none;
     max-width:100vw;
     width:100%;
     align-items:center;
     justify-content:center;
 }

 .forminput input,.remember_forgotpass{
     width:300px;
 }

 .forminput{
   margin:8px 0;
 }

 .loginimage image{
  width:100%;
  height:auto;
 }

 .loginbtn, .signupbtn{
  padding:6px 12px;
 }

 .btns,.social_signin{
   margin-top:10px;
 }
 
}


/**Remember Me Checkbox Styles ***/

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border:1px solid #ccc;
}

.container:hover input ~ .checkmark {
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #5352ED;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}