.login{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
  min-height:100vh;
}

.loginform{
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:center;
  margin:0 auto;
  font-size:16px;
  line-height:25px;
  color:rgb(60, 60, 60);
  width:50%;
  max-width:50vw;
  max-height:100vh;
  margin-top:50px;
}

.loginform h1{
  font-weight:bold;
  color:#5352ED;
}

.loginform{
  width: fit-content;
}

.forminput{
  width:fit-content;
  position:relative;
  outline:none;
  border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
}

.forminput label{
  position: absolute;
  left:20px;
  top:0;
}

.forminput input{
  padding:22px 10px 10px 20px;
  font-size:14px;
  width:30vw;
  outline:none;
  border:none;
  color:#5352ED;
}

.forminput input:focus{
 border-left:5px solid #5352ED;
 padding-left:15px;
}

.remember_forgotpass{
  display:flex;
  font-size:14px;
  width:30vw;
  justify-content:space-between;
}

.fa-eye{
  position:absolute;
  top:25px;
  right:25px;
  cursor:pointer;
  font-size:20px;
}

.forgotpass{
  color:rgb(60, 60, 60);
  cursor:pointer;
}

.forgotpass:hover{
  color:#5352ED;
}

.loading_indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #5352ED;
  font-weight: bold;
}

.btns{
  margin-top:30px;
}

.loginbtn{
  border:2px solid #5352ED;
  background-color:#5352ED;
  cursor:pointer;
  color:#FFF;
  margin-right:20px;
  padding:10px 16px;
  box-shadow:-1px 3px 3px rgba(0,0,0,0.4)
}

.signupbtn{
  padding:10px 16px;
  border:2px solid #5352ED;
  background-color:#FFF;
  cursor:pointer;
}

.signuplink,.signuplink:hover{
  color:#5352ED;
}

.social_signin{
  display:flex;
  margin-top:30px;
}

.blue{
  color:#5352ED;
  cursor:pointer;
}

.google{
  margin-left:10px;
  font-weight:bold;
}

.loginimage{
  max-width:50vw;
  background-color:#EAF2FD;
  padding:7%;
  max-height:100vh;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.loginimage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(80%);
  }
}

@media screen and (max-width:960px){
  .login{
    margin-top:30px;
    max-height:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  } 

  .loginform h1{
     font-size:20px;
  }
  .loginform,.loginimage{
    font-size:14px;
    max-height:none;
    min-height:0;
    max-width:100vw;
    width:100%;
    align-items:center;
    justify-content:center;
  }
 
  .forminput input,
  .remember_forgotpass {
    font-size:12px;
    min-width:60vw;
    width:60%;
  }

  .forminput{
    margin:8px 0;
  }
 
  .loginimage image{
   width:100%;
   height:auto;
  }
 
  .loginbtn, .signupbtn{
   padding:6px 12px;
  }
 
  .btns,.social_signin{
    margin-top:10px;
  }
  
 }

/**Remember Me Checkbox Styles ***/

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
}

.container:hover input ~ .checkmark {
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #5352ed;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
