* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* top button */
#btn {
  position: fixed;
  background-color: #ff3333;
  color: #FFF;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: none;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s;
}
#btn:hover {
  background-color: #ff6666;
}
.pop:hover {
  transform: scale(1.5);
}

/* CSS to accomodate dark mode toggle swithc with navabar */
.NavWithToggleSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  margin-left: 0 !important;
  overflow: hidden !important;
   
}

.navlinks{
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  flex-direction: row;
}
.fa-home,.fa-user,.fa-file,.fa-plus,.fa-id-badge,.fa-sign-in{
    padding-right: 4px;
    font-size: 20px;
}
.lobut{
  color: white;
  font-weight: 700;
  letter-spacing: 0.02857em;
  background-color: #fd6464;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  margin-top:-4px;
  margin-right: 10px;
}
.lobut:hover {
  background-color: transparent;
  color: #fff;
}


