*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top button */
#btn {
position: fixed;
background-color: #ff3333;
text-decoration: none;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
display: none;
bottom: 16px;
right: 32px;
width: 50px;
height: 50px;
font-size: 40px;
text-align: center;
font-weight: bold;
}
#btn:hover{
    background-color:#ff6666;
}
.pop:hover {
transform: scale(1.5); 
}

/* CSS to accomodate dark mode toggle swithc with navabar */
.NavWithToggleSwitch{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavWithoutToggle{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 0 !important;
  overflow: hidden !important;
}

.NavHeading{
  float: left !important;
  margin-right: 50%;
}

.links{
  float: right !important;
}