body {
  margin: 0;
  font-family: 'QuickSand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-orange { color: #D9AC84; }
.orange { color: #F25F0B; }
.drak-orange { color: #A62F03; }
.red { color: #D90316; }
.brown { color: #593119; }

/* CSS to accomodate dark mode toggle swithc with navabar */
.NavWithToggleSwitch{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavWithoutToggle{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 0 !important;
  overflow: hidden !important;
}

.NavHeading{
  float: left !important;
  margin-right: 50%;
}

.links{
  float: right !important;
}


